[submodule "externals/qlog"]
	path = externals/qlog
	url = git@github.com:PaulHowes/qlog.git
[submodule "externals/asf"]
	path = externals/asf
	url = git@github.com:PaulHowes/asf.git
[submodule "externals/net"]
	path = externals/net
	url = git@github.com:PaulHowes/net.git
[submodule "externals/mapped"]
	path = externals/mapped
	url = git@github.com:PaulHowes/mapped.git
